{% extends 'base/base.html' %}

{% block contenido %}
    <div class='album py-5 bg-light'>
        <div class='container'>
            <div class='row'> 
                <div class='col'>
                    <h1> Iniciar sesión </h1>
                    <form method='POST'> {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" id='username' placeholder='Ingrese nombre de usuario' name='username'>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder='Ingrese contraseña' name='password'>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}